.errorlist {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;    
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

.jumbotron {
  background-size: cover;
  height: 200px;
}

.navbar {
  margin-bottom: 25px;
}

#headline {
  color: white;
  font-size: 4em;
}
