{% extends "pinpoint/base.html" %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<p class="alert-warning">This functionality requires an email backend to be configured on the server and is not currently functional. Contact your system administrator for assistance.</p>
<h1>Forgot your password?</h1>
<br>
<p>Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send me instructions!" class="btn btn-primary">
</form>
{% endblock %}